<div class="hero">
  <br />
   <div class="frosty col-10 offset-1 text-center">
     <br />
    <h1>Learn singing from a broadway star</h1>
     <br />
    <h2>vocalist, George M</h2>
     <br />
     <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
      <br /> <br />
  </div>
</div>