<br />

<div class="booyah-box col-10 offset-1">        
  <img src="http://freshcupmedia.com/bootcamp/MT.jpg">
  <br />
  <br />
  <span class="footer-titles">Mike Tracz</span>
  <br />
    <b>WEB DEVELOPER</b>
    <br />
    <br />
     Mike is a <b>Full Stack Web Developer</b> based out of Waterloo, Ontario. Services offered include design, development, hosting, audio/video editing, consulting, and even tech support. Skills include HTML5, CSS3, Bootstrap, Ruby, Ruby on Rails, Postgresql, JavaScript, JQuery, and ReactJS.</p>
</div>